<!DOCTYPE HTML>
<html>
<head>
    <title>数据同步</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/es.js"></script>
</head>
<body>
    <div align="center">
        <h1>ES数据导入步骤</h1><br/><br/>
        <br/><br/>
        1.创建索引
        <br/><br/>
        <input type="button" name="" value="创建索引" onclick="createIndices()">
        <br/><br/><br/><br/>
        2.同步es数据
        <br/><br/>
        <input type="button" name="" value="同步es" onclick="syncEs()">
        <br/><br/>
    </div>
</body>
</html>

<script type="text/javascript">
    $(function(){

    });
</script>